@import "./tailwind.css";
@import 'vex-js/dist/css/vex.css';
@import 'vex-js/dist/css/vex-theme-default.css';


#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    
  }
  body{
    background: #F7F8FE;

  }
